/HackerRank/build/
/HackerRank/dist/
/Codility/build/
/Codility/dist/
/ThinkCell/build/
/ThinkCell/dist/
/Amazon/build/
/Amazon/dist/
xcuserdata/
/Coursera/MachineLearning/Prerequisite/Course01_Algorithmic_Toolbox/BasicCpp/build/
/Coursera/MachineLearning/Prerequisite/Course01_Algorithmic_Toolbox/BasicCpp/dist/